$color-primary: #900;

/*
 * Base structure
 */

body {
  font-family: 'source-sans', sans-serif;
  font-size: 14px;
}

#main {
  &[data-toggle='true'] {
    min-width: 95vw;
  }
  .container {
    max-width: 95vw;
  }
}

header {
  background-color: $color-primary;
  nav {
    .nav-link {
      color: white;
      opacity: .5;
      border-bottom: solid 3px transparent;

      &:hover,
      &:focus {
        opacity: .75;
        border-color: white;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}